# Ignora ambientes virtuais
.venv/
venv/
env/

# Ignora os arquivos de cache "invisíveis" que o Python cria
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignora arquivos de ambiente (se você usar senhas de API no futuro)
.env

# Ignora arquivos de log
minhas_ideias.txt

# Claude Code (Local Settings)
.claude/

tests